# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env
*.egg-info/
.installed.cfg
*.egg

# Testing / Coverage
.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.ruff_cache/

# Build
build/
dist/

# Data
data/

# IDEs
.vscode/
.idea/

# Temp
.venv/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Other
uv.lock